<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Workshops - Day 3</title>
	<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
	<script src="../lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/employee.service.js"></script>

</head>
<body ng-app="abcModule">
	<div ng-controller="employeeController as ec">
		<button class="btn btn-primary" ng-click="ec.loadEmployees()">Load</button>
		<pre>{{ ec.employeeList | json }}</pre>
	</div>
</body>
</html>